.headerContainer {
  height: 12vh;
  background-color: #f1f5f9;
  display: flex;
  justify-content: flex-start;
  padding-left: 3vw;
  align-items: center;
}

.logoButton {
  background-color: transparent;
  border: none;
  height: 70%;
}

.websiteLogo {
  height: 95%;
}
